.header {
	position: absolute;
	z-index: 55;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
}
.header__body {
	display: flex;
	align-items: center;
}

.header__logo {
	flex-shrink: 0;
	transition: all 0.3s;
	margin-right: 30px;
}

.header__logo:hover{
	opacity: 0.5;
}

.header__menu {
	margin-left: auto;
	margin-right: 84px;
}
.menu {
}
.menu__list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.menu__item {
	margin-right: 30px;
}

.menu__item:last-child {
	margin-right: unset;
}

.menu__link {
	text-decoration: none;
	color: var(--menu-color);
	transition: all 0.3s;
}

.menu__link:hover{
	color: var(--accent-color);
}

.header__btn {
}

@media(max-width: 1024px) {
	.header {
		position: static;
		padding: 10px 0;
	}
	.header__body {
		flex-wrap: wrap;
	}
	.header__logo{
		order: 1;
	}
	.header__menu {
		margin-top: 15px;
		order: 3;
		flex: 1 0 100%;
		margin-right: unset;
		overflow-y: auto;
	}
	.menu__list{
		flex-wrap: nowrap;
	}
	.menu__item {
		flex-shrink: 0;
	}
	.header__btn {
		order: 2;
		margin-left: auto;
	}
}