:root {
	--main-font: "Montserrat", sans-serif;

	/* Color*/
	--menu-color: #fff;
	--main-color: #a6a6a6;
	--main-bg: #23252d;
	--accent-color: #faa525;
	--btn-color: #17171e;
	--title-color: #fff;
	--active-color: #07070e;
	--card-bg: #17171e;
	--new-bg: #660606;
	--white-color: #fff;

	/* Sizes */
	--container-width: 1160px;
	--container-paddings: 15px;
}
